<div class="profile-input">
  <label for="{{profileInputId}}" class="profile-input__label">
    {{label}}
  </label>
  <input
  type="{{profileInputType}}"
  id="{{profileInputId}}"
  name="{{profileInputName}}"
  value="{{profileInputValue}}"
  class="profile-input__input"
  >
</div>