<section class="chat">
    <div class="chat__list">
        {{{ChatHeader}}}
        {{{ListItems}}}
    </div>
    <div class="chat__body">
        {{{BodyHeader}}}
        {{{ChatBody}}}
        {{{ChatMessage}}}
    </div>
</section>