<section class="profile section">
    <form class="profile__container container">
        {{{Avatar}}}
        {{{EmailInput}}}
        {{{LoginInput}}}
        {{{FirstNameInput}}}
        {{{SecondNameInput}}}
        {{{PhoneInput}}}
        <div class="profile__buttons">
            {{{ChangeDataButton}}}
            {{{ChangePassButton}}}
            {{{LogoutButton}}}
        </div>
    </form>
</section>
