<div class="item {{#if active}}item--active{{/if}}">
  <div class="item__img">
    <img src="{{avatar}}" alt="Аватар в чате">
  </div>
  <div class="item__content">
    <p class="item__content_title">{{title}}</p>
    <p class="item__content_text">{{text}}</p>
  </div>
  <div class="item__info">
    <p class="item__info_date">{{time}}</p>
    {{#if badge}}
      <div class="item__info_badge">
        {{unread_count}}
      </div>
    {{/if}}
  </div>
</div>
