<section class="signin section">
    <div class="signin__container container">
        <h1 class="signin__title title">Регистрация</h1>
        <form class="signin__form form">
            {{{InputEmail}}}
            {{{InputLogin}}}
            {{{InputFirstName}}}
            {{{InputSecondName}}}
            {{{InputPhone}}}
            {{{InputPassword}}}
            {{{InputConfirmPassword}}}
            {{{SignupButton}}}
            {{{LoginButton}}}
        </form>
    </div>
</section>