<section class="section profile">
    <div class="profile__container container">
        <form class="profile__form">
            {{{Avatar}}}
            {{{EmailInput}}}
            {{{LoginInput}}}
            {{{FirstNameInput}}}
            {{{SecondNameInput}}}
            {{{DisplayNameInput}}}
            {{{PhoneInput}}}
            <div class="profile__buttons">
                {{{SaveButton}}}
            </div>
        </form>
    </div>
</section>