<section class="profile section">
    <div class="profile__container container">
        <form class="profile__form">
            {{{Avatar}}}
            {{{OldPasswordInput}}}
            {{{NewPasswordInput}}}
            {{{ConfirmPasswordInput}}}
            <div class="profile__buttons">
                {{{SaveButton}}}
            </div>
        </form>
    </div>
</section>